body {
 background-image: url(IMG_1991.JPG);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid;
    border-radius: 14px;
   background: transparent;
   color: #f39c12;
    cursor: pointer;
    margin-top: 10px;
}


.s_bode{
    width: 700px;
    padding: 50px;
    display: flex;
    position:relative;
    z-index: 1000;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1563299796-b729d0af54a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHN0YWRpdW18ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-position: 0 -289px;
    background-size: cover;
    overflow: hidden;
  }
  
  
  .s_bode:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .8);
    z-index: -2;
    border-radius: 20px;
  }
  
  
  .s_bode:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -47%;
    background-color:rgba(255, 255, 255, .2);
    z-index: -1;
    transform: skewX(-10deg);
  }
  
  .s_bode img{
    height: 100px;
    width: 100px;
  }
  
  .left_section{
    flex-grow: 2;
     display: flex;
     flex-direction: column;
    align-items: center;
  }
  
  .mid_section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 26px;
  }
  
  .right_section{
    flex-grow:2;
     display: flex;
     flex-direction: column;
     align-items: center;
  
  }
  
  .s_bode h2{
    margin-top: 10px;
    color: #f39c12;
    font-size: 26px;
    font-weight:bold;
  }
  
  
  .s_bode p{
   margin-top:5px;
   font-weight:bold;
   font-size: 14px;
   color: #fff;
  }
  
  
  @media screen and (max-width: 850px) {
      .s_bode{
        width: 500px;
         background-position: 0 -209px;
      }
  
      .s_bode img{
        width: 80px;
        height: 80px
      }
  
      .s_bode h2{
       font-size: 18px;
      }
  }
  
  
  @media screen and (max-width: 640px) {
      .s_bode{
        width: 400px;
        padding: 10px;
        background-position: 0 -190px;
      }
  
      .s_bode img{
        width: 50px;
        height: 50px
      }
  
      .s_bode h2{
       font-size: 14px;
      }
      .s_bode h1{
       font-size: 18px;
      }
  
      .s_bode p{
       font-size: 10px;
      }
  }
  
  @media screen and (max-width: 450px) {
      .s_bode{
        width: 320px;
        padding:10px;
         background-position: 0 -90px;
      }
  
      .s_bode img{
        width: 50px;
        height: 50px
      }
  
      .s_bode h2{
       font-size: 14px;
      }
      .s_bode h1{
       font-size: 18px;
      }
  }

  section{
    justify-content: center;
    display: flex;
    margin-top: 90px;
  }

  .hea-1 {
    margin-top: 60px;
    background-color: transparent;
    padding: 10px 90px 15px 90px;
    border-radius: 15px;
    color: #dee5f0;
    width: 613px;
    
    box-shadow: inset 0px -5px 1px #234d8e, 6px 7px 3px rgba(66, 66, 66, 0.5);
    & h1 {
      font-family: rubik;
      font-weight: 800;
      user-select: none;
      text-shadow: 2px 2px 2px;
    }
  }
  .cen-1{
    display: flex;
    justify-content: center;
  }
